<div class="row">
  <div style="width: 99%;">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">SCHEDULE</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <ng-container>
            <li class="breadcrumb-item" [ngClass]="{'active': true}">Schedule
            </li>
          </ng-container>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row" style="position: relative; width: 100%;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body" style="background-color: #F5F6FA;">
        <div class="d-flex align-items-center mb-3 buttons-and-inputs-container"
          style="display: flex;justify-content: space-between;">
          <div class="buttons-and-inputs-filters">
            <div style="margin-left: 10px;">
              <button type="button" class="btn" style="border-color:#D7DBEC; background-color: white;" nz-button
                nz-dropdown [nzDropdownMenu]="menu1">
                Select Schedule <span class="ri-arrow-down-s-line"></span>
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>menu1 1st menu item</li>
                  <li nz-menu-item>menu1 2nd menu item</li>
                  <li nz-menu-item>menu1 3rd menu item</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="buttons-and-inputs">
            <div class="buttons-and-inputs-filters">
              <button (click)="onDateDecrement()" type="button" class="btn"
                style="margin-left: 10px; border-color:#D7DBEC;font-weight:600;">
                <span class=" ri-arrow-left-s-line"></span></button>
              <div style="margin-left: 10px">

              </div>
              <input class="form-control flatpickr-input" type="text" [(ngModel)]="datePicked.datePicked" mwlFlatpickr
                [altInput]="true" [convertModelValue]="true"
                style="margin-left: 10px;font-weight:600;background-color: #D2F7EB;">
              <button (click)="onDateIncrement()" type="button" class="btn"
                style="margin-left: 10px;border-color:#D7DBEC;font-weight:600;">
                <span class="ri-arrow-right-s-line"></span></button>
              <div style="margin-left: 10px">
                <button (click)="onDateToday()" type="button" class="btn"
                  style="border-color:#D7DBEC;font-weight:600;background-color: white;">
                  Today
                </button>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn"
              style="background-color:#21D59B;font-weight: 600;margin-left: 10px;">Cancellation
              List</button>
            <button type="button" class="btn"
              style="border-color:#D7DBEC;margin-left: 10px;background-color: white;">Blockout Time</button>
          </div>

          <ng-template #fullXlDataModal let-modal>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenXlLabel">X New Employee</h5>
                <!-- <div *ngIf="selectedEmployeeId===''">
                  <button type="button" class="btn" style="background-color:#21D59B;font-weight: 600;margin-left: 10px;"
                    (click)="onEmployeeSubmit()">Save</button>
                  <button type="button" class="btn" id="close-employee-modal"
                    style="background-color:white;font-weight: 600;margin-left: 10px;border-color:#D7DBEC;"
                    (click)="modal.dismiss('Cross click');reintialiseEmployee()">Cancel</button>
                </div> -->
              </div>
              <div style="margin-top: 10px; margin-bottom: 10px;">
                <div class="row">
                  <div class="col-lg-12">
                    <label class="form-label">Emplpoyee goals Table</label>

                    <div class="table-responsive">
                      <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="TableData"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" class="table table-gridjs">
                        <thead>
                          <tr style="background-color:#D2F7EB;">
                            <th style="background-color:#D2F7EB;">#</th>
                            <th style="background-color:#D2F7EB;">Goal Date</th>
                            <th style="background-color:#D2F7EB;">Goal Amount</th>
                            <th style="background-color:#D2F7EB;">Final Amount</th>
                            <th style="background-color:#D2F7EB;">Difference</th>
                          </tr>
                        </thead>
                        <tbody style="background-color: #F5F6FA;">
                          <tr *ngFor="let data of rowSelectionTable.data ">
                            <td data-column-id="company" class="gridjs-td">{{data.id}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.date}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.amount}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.final_amount}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.final_amount-data.amount}}</td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
        <div class="table-responsive">
          <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="TableData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" class="table table-gridjs">
            <thead style="border-color:#D7DBEC;">
              <tr style="background-color:#D2F7EB;">
                <th>
                  time
                </th>
                <th class="gridjs-td" *ngFor="let data of ScheduleHeaderTableData">
                  <div style="display: flex;flex-direction: column;align-items: center;">
                    <span style="color: #21D59B;font-weight: 500;">{{data.employeeFullName}}</span>
                    <span style="font-weight: 500;">{{data.employeeTitle}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody style="background-color: white;">
              <tr *ngFor="let data of rowSelectionTable.data ">
                <td class="gridjs-td">{{data.time}}</td>
                <td class="gridjs-td"></td>
                <td class="gridjs-td"></td>
                <td class="gridjs-td"></td>
                <td class="gridjs-td"></td>
                <td class="gridjs-td"></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <!-- {{datePicked.datePicked}} -->
      </div><!-- end card-body -->
    </div><!-- end card -->
  </div>
  <span class=" ri-add-circle-fill"
    style="position: absolute;bottom: 50%;left: 0;color:#21D59B;font-size: 50px;"></span>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>