<div class="row">
  <div style="width: 99%;">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0">SCHEDULE</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <ng-container>
            <li class="breadcrumb-item" [ngClass]="{'active': true}">Schedule
            </li>
          </ng-container>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row" style="position: relative; width: 100%;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body" style="background-color: #F5F6FA;">
        <div class="d-flex align-items-center mb-3 buttons-and-inputs-container"
          style="display: flex;justify-content: space-between;">
          <div class="buttons-and-inputs-filters">
            <div style="margin-left: 10px;">
              <button type="button" class="btn" style="border-color:#D7DBEC; background-color: white;" nz-button
                nz-dropdown [nzDropdownMenu]="DropdownEmployeeSelectSchedule">
                Select Schedule <span class="ri-arrow-down-s-line"></span>
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #DropdownEmployeeSelectSchedule="nzDropdownMenu">
                <ul nz-menu>
                  <ul *ngFor="let data of EmployeeScheduleTableData ">
                    <li *ngIf="blockOutTime.employees[0]!==data.employeeId" nz-menu-item
                      (click)="EmployeeScheduleSelectValue=data;blockOutTime.employees[0]=data.employeeId;fetchEmployeeBookingSchedule()">
                      {{data.employeeFullName}}
                    </li>
                  </ul>
                  <li *ngIf="EmployeeScheduleSelectValue.employeeFullName!==''" nz-menu-item
                    (click)="EmployeeScheduleSelectValue.employeeFullName='';fetchEmployeeBookingSchedule()">Reset</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="buttons-and-inputs">
            <div class="buttons-and-inputs-filters">
              <button (click)="onDateDecrement()" type="button" class="btn"
                style="margin-left: 10px; border-color:#D7DBEC;font-weight:600;">
                <span class=" ri-arrow-left-s-line"></span></button>
              <div style="margin-left: 10px">

              </div>
              <input class="form-control flatpickr-input" type="text" [(ngModel)]="datePicked.datePicked" mwlFlatpickr
                [altInput]="true" [convertModelValue]="true" (ngModelChange)="DateOfTheWeekRun()"
                style="margin-left: 10px;font-weight:600;background-color: #D2F7EB;">
              <button (click)="onDateIncrement()" type="button" class="btn"
                style="margin-left: 10px;border-color:#D7DBEC;font-weight:600;">
                <span class="ri-arrow-right-s-line"></span></button>
              <div style="margin-left: 10px">
                <button (click)="onDateToday()" type="button" class="btn"
                  style="border-color:#D7DBEC;font-weight:600;background-color: white;">
                  Today
                </button>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn" style="background-color:#21D59B;font-weight: 600;margin-left: 10px;"
              data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" (click)="largeModal(largeDataModal)">Join
              Cancellation queue
              List</button>
          </div>
        </div>
        <div class="table-responsive">
          <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="EmployeeBookingScheduleTableData" nzSize="middle"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" class="table table-gridjs">
            <thead style="border-color:#D7DBEC;">
              <tr style="background-color:#D2F7EB;">
                <th class="gridjs-td">
                  <div style="display: flex;flex-direction: column;align-items: center;">
                    <span style="color: #21D59B;font-weight: 500;">{{EmployeeScheduleSelectValue.employeeFullName !== ''
                      ? 'Showing Schedule for ' + EmployeeScheduleSelectValue.employeeFullName +' on ' : ''}}
                      {{DateOfTheWeek}}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody style="background-color: white;">
              <tr *ngFor="let data of rowSelectionTable.data ">
                <td class="gridjs-td">{{data.time +" "+ (data.available ?'available':"not available")}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>

        <!-- Booking Modal Start -->
        <ng-template #BookingScheduleModal let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalFullscreenXlLabel">X Make a booking</h5>
              <div>
                <button type="button" class="btn" (click)="onBookNow()"
                  style="background-color:#21D59B;font-weight: 600;margin-left: 10px;">Book Now</button>
                <button type="button" class="btn" id="close-booking-schedule-modal"
                  style="background-color:white;font-weight: 600;margin-left: 10px;border-color:#D7DBEC;"
                  (click)="modal.dismiss('Cross click');">Close</button>
              </div>
            </div>
            <div class="modal-body" style="background-color:#F5F6FA;margin-top: 20px;padding-top: 30px;">
              <div style="font-weight: 600;font-size: 18px;">
                Enter Booking Details
              </div>
              <p style="margin-bottom: 5px;">
                Fill in the following details about the booking
              </p>
              <div class="col-lg-12" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="row gy-4">
                  <div class="col-xxl-6 col-md-6">
                    <div>
                      <label class="form-label">SELECT DATE</label>
                      <input class="form-control flatpickr-input" type="text" [(ngModel)]="SelectedDateModal"
                        mwlFlatpickr [altInput]="true" [convertModelValue]="true" placeholder="Date"
                        (change)="onDateChanged();" style="font-weight:600;background-color: #D2F7EB;">
                    </div>
                  </div>
                  <div class="col-xxl-6 col-md-6">
                    <div>
                      <label class="form-label">SELECT EMPLOYEE</label>
                      <input type="text" class="form-control" placeholder="Employee" nz-button nz-dropdown
                        [nzDropdownMenu]="DropdownEmployeeSelectModalSchedule"
                        [(ngModel)]="selectedEmployeeModal.employeeFullName"
                        style="font-weight:600;background-color: #D2F7EB;">
                      <nz-dropdown-menu #DropdownEmployeeSelectModalSchedule="nzDropdownMenu">
                        <ul nz-menu>
                          <ul *ngFor="let data of EmployeeScheduleTableData ">
                            <li nz-menu-item (click)="selectedEmployeeModal=data;fetchTimeSchedule();">
                              {{data.employeeFullName}}
                            </li>
                          </ul>
                        </ul>
                      </nz-dropdown-menu>
                    </div>
                  </div>
                  <div class="col-xxl-6 col-md-6" *ngIf="SelectedDateModal && selectedEmployeeModal.employeeId !== ''">
                    <div>
                      <label class="form-label">SELECT TIME</label>
                      <input type="text" class="form-control" placeholder="Time" nz-button nz-dropdown
                        style="font-weight:600;background-color: #D2F7EB;"
                        [nzDropdownMenu]="DropdownTimeSelectModalSchedule" [(ngModel)]="selectedTimeModal.time">
                      <nz-dropdown-menu #DropdownTimeSelectModalSchedule="nzDropdownMenu">
                        <ul nz-menu>
                          <ul *ngFor="let data of TimeTableData ">
                            <li nz-menu-item (click)="selectedTimeModal=data;">
                              {{data.time}}
                            </li>
                          </ul>
                        </ul>
                      </nz-dropdown-menu>
                    </div>
                  </div>
                </div>
              </div>

              <div style="margin-top: 10px; margin-bottom: 10px;">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="TreatmentsTableDate"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" class="table table-gridjs">
                        <thead>
                          <tr style="background-color:#D2F7EB;">
                            <th style="background-color:#D2F7EB;">#</th>
                            <th style="background-color:#D2F7EB;">Service Name</th>
                            <th style="background-color:#D2F7EB;">Price</th>
                            <th style="background-color:#D2F7EB;">Duration</th>
                            <th style="background-color:#D2F7EB;">Times</th>
                          </tr>
                        </thead>
                        <tbody style="background-color: #F5F6FA;">
                          <tr *ngFor="let data of rowSelectionTable.data ">
                            <td data-column-id="company" class="gridjs-td">{{data.index}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.treatmentName}}</td>
                            <td data-column-id="company" class="gridjs-td">R
                              {{data.special?data.specialPrice:data.treatmentPrice}}</td>
                            <td data-column-id="company" class="gridjs-td">{{data.treatmentDuration}} minutes</td>
                            <td data-column-id="company" class="gridjs-td"
                              style="display:flex;flex-direction: row;justify-content: center;align-items: center;">
                              <button type="button" class="btn"
                                style="background-color:white;font-weight: 600;margin-left: 10px;margin-right: 10px;border-color:#D7DBEC;"
                                (click)="SubtractTimes(data);">Minus</button>
                              <div style="font-weight: 600;margin-left: 10px;margin-right: 10px;">{{data.times}}</div>
                              <button type="button" class="btn"
                                style="background-color:white;font-weight: 600;margin-left: 10px;margin-right: 10px;border-color:#D7DBEC;"
                                (click)="AddTimes(data)">Add</button>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- Booking Modal Close -->


        <ng-template #largeDataModal let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalgridLabel">FILL IN THE DETAILS TO JOIN THE QUEUE</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')" id="close-client-schedule-cancellation-modal"></button>
            </div>
            <div class="modal-body">
              <form action="javascript:void(0);">
                <div class="row g-3">
                  <div class="col-xxl-6">
                    <label for="firstName" class="form-label">SELECT START DATE</label>
                    <input class="form-control flatpickr-input" type="text"
                      [(ngModel)]="mobileCancellationQueue.startDate" mwlFlatpickr [altInput]="true"
                      [convertModelValue]="true" name="startDate"
                      style="margin-left: 10px;font-weight:600;background-color: #D2F7EB;" placeholder="Start date">
                  </div><!--end col-->
                  <div class="col-xxl-6">
                    <label for="lastName" class="form-label">SELECT START TIME</label>
                    <input class="form-control flatpickr-input" type="text" placeholder="Start time" mwlFlatpickr
                      [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'"
                      [(ngModel)]="mobileCancellationQueue.startTime" name="startTime">
                  </div><!--end col-->
                  <div class="col-xxl-6">
                    <label for="lastName" class="form-label">SELECT END DATE</label>
                    <input class="form-control flatpickr-input" type="text"
                      [(ngModel)]="mobileCancellationQueue.endDate" mwlFlatpickr [altInput]="true"
                      [convertModelValue]="true" name="endDate"
                      style="margin-left: 10px;font-weight:600;background-color: #D2F7EB;" placeholder="End date">
                  </div><!--end col-->
                  <div class="col-xxl-6">
                    <label for="emailInput" class="form-label">SELECT END TIME</label>
                    <input class="form-control flatpickr-input" type="text" placeholder="End time" mwlFlatpickr
                      [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'"
                      [(ngModel)]="mobileCancellationQueue.endTime" name="Endtime">
                  </div><!--end col-->
                  <div class="col-xxl-6">
                    <label for="passwordInput" class="form-label">SELECT EMPLOYEE</label>
                    <input type="text" class="form-control" placeholder="Employee" readonly
                      [(ngModel)]="selectedEmployeeForCancellation" name="selectedEmployeeForCancellation" nz-button
                      nz-dropdown [nzDropdownMenu]="DropdownEmployee">
                    <nz-dropdown-menu #DropdownEmployee="nzDropdownMenu">
                      <ul nz-menu>
                        <ul *ngFor="let data of EmployeeScheduleTableData ">
                          <li nz-menu-item
                            (click)="mobileCancellationQueue.employeeId=data.employeeId;selectedEmployeeForCancellation=data.employeeFullName">
                            {{data.employeeFullName}}
                          </li>
                        </ul>
                      </ul>
                    </nz-dropdown-menu>
                  </div><!--end col-->
                  <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="modal.close('Close click')">CANCEL</button>
                      <button (click)="onMobileCancellationQueueSubmit()" class="btn btn-primary">JOIN</button>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </form>
            </div>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
  <span class=" ri-add-circle-fill"
    style="cursor: pointer;position: absolute;bottom: 50%;left: 0;color:#21D59B;font-size: 50px;" data-bs-toggle="modal"
    data-bs-target="#exampleModalFullscreenXl" (click)="fullXLModal(BookingScheduleModal);"></span>

</div>