<div class="row">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0">MARKETING</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item" [ngClass]="{'active': true}">
                Marketing
              </li>
            </ng-container>
          </ol>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card mt-n4 mx-n4">
        <div style="background-color: #21D59B33;">
          <div class="card-body pb-0 px-4">
            <div class="row mb-3">
              <div class="col-md">
                <div class="row align-items-center g-3">
                  <div class="col-md-auto">
                    <div class="avatar-md">
                      <div class="avatar-title bg-white rounded-circle">
                        <img src="assets/images/brands/slack.png" alt="" class="avatar-xs">
                      </div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div>
                      <h4 class="fw-bold">All marketing Emails</h4>
                      <div class="hstack gap-3 flex-wrap">
                        <div><i class="ri-building-line align-bottom me-1"></i> Q-books</div>
                        <div class="vr"></div>
                        <div>Today Date : <span class="fw-medium">15 Sep, 2021</span></div>
                        <div class="vr"></div>
                        <div class="badge rounded-pill bg-info fs-12">New</div>
                        <div class="badge rounded-pill bg-danger fs-12">High</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="hstack gap-1 flex-wrap">
                  <button type="button" class="btn py-0 fs-16 favourite-btn active">
                    <i class="ri-star-fill"></i> Setup Emails
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="position: relative; width: 100%;" *ngFor="let data of batchEmailsData">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body" style="background-color: #F5F6FA;"
        [style.backgroundColor]="data.batchEmailStatus==='COMPLETED' ? '#21D59B33' : '#F5F6FA'">
        <div class="row">
          <div class="col-lg-6">
            <div class="col-md">
              <div>
                <div class="hstack gap-3 flex-wrap">
                  <div>{{data.batchEmailTitle}}</div>
                  <div class="vr"></div>
                  <div class="badge rounded-pill bg-success fs-12" *ngIf="data.batchEmailStatus==='COMPLETED'">
                    sent to {{data.batchEmailActualSentTo}}</div>
                  <div class="badge rounded-pill bg-info fs-12" *ngIf="data.batchEmailStatus!=='COMPLETED'">
                    {{data.batchEmailActualSentTo}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <button class="btn form-control flatpickr-input" *ngIf="data.batchEmailStatus!=='COMPLETED'"
              style="background-color: #21D59B;color:white" data-bs-toggle="modal"
              data-bs-target="#exampleModalFullscreenXl"
              (click)="fullXLModal(fullXlBookingScheduleModal);fetchBatchEmail(data.batchEmailId)">CONTINUE</button>
          </div><!--end col-->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #fullXlBookingScheduleModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{setToggleModalState?'Setup Email To Send':'Set Client'+
        'Base'}}</h5>
      <div>
        <button type="button" class="btn" (click)="setupBatchList()" *ngIf="setToggleModalState===false"
          style="background-color:#21D59B;font-weight: 600;margin-left: 10px;">SetUp email list</button>
        <button type="button" class="btn" (click)="saveEmailContent()"
          *ngIf="setToggleModalState && setToggleModalStateSendEmails===false"
          style="background-color:#21D59B;font-weight: 600;margin-left: 10px;">Save Email Content</button>
        <button type="button" class="btn" (click)="sendBatchEmail()" *ngIf="setToggleModalStateSendEmails"
          style="background-color:#21D59B;font-weight: 600;margin-left: 10px;">Send Emails</button>
        <button type="button" class="btn" id="close-marketing-modal"
          style="background-color:white;font-weight: 600;margin-left: 10px;border-color:#D7DBEC;"
          (click)="modal.dismiss('Cross click');">Close</button>
      </div>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body" *ngIf="setToggleModalState">
            <form>
              <div class="mb-3">
                <label for="customer-name" class="col-form-label">Email Title:</label>
                <input type="text" class="form-control" placeholder="Note Title" name="title"
                  [(ngModel)]="batchEmailTitle">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Email Message:</label>
                <textarea class="form-control" id="message-text" rows="4" name="description"
                  [(ngModel)]="batchEmailMessage"></textarea>
              </div>
              <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 20px;">
              </div>
            </form>
          </div>
          <div class="table-responsive" *ngIf="setToggleModalState===false">
            <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="batchEmailsDataTableData"
              class="table table-gridjs">
              <thead>
                <tr style="background-color:#D2F7EB;">
                  <th style="background-color:#D2F7EB;">Client Name</th>
                  <th style="background-color:#D2F7EB;">Client Email</th>
                  <th style="background-color:#D2F7EB;" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onAllChecked($event)"></th>
                </tr>
              </thead>
              <tbody style="background-color: #F5F6FA;">
                <tr *ngFor="let data of rowSelectionTable.data ">
                  <td data-column-id="company" class="gridjs-td">{{data.fullName}}</td>
                  <td data-column-id="company" class="gridjs-td">{{data.emailAddress}}</td>
                  <td [nzChecked]="setOfCheckedId.has(data.userId)"
                    (nzCheckedChange)="onItemChecked(data.userId, $event)"></td>
                </tr>
              </tbody>
            </nz-table>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
